@model List<NotificationServiceWeb.Models.NotificationLog>

@{
    ViewBag.Title = "Notification Logs";
}

<h2>Notification Logs</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date Sent</th>
            <th>Comment ID</th>
            <th>Emails Sent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.DateSent</td>
                <td>@log.CommentId</td>
                <td>@log.EmailsSent</td>
            </tr>
        }
    </tbody>
</table>
