/* LoginStyleSheet.css */

body {
    background-image: url('../Images/loginBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background-position: center center;*/
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    /*flex-direction: column;*/
    color: #045f5f;
    /*font-size: 1.2em;*/
    /*margin-left: 20vw;*/
}

.loginDiv {
    /*display: flex;
    flex-direction: column;*/
    position: relative;
    margin-left: 18vw;
    margin-top: 20vw;
    width: 25vw;
    height: 20vw;
    gap: 10px;
}

.text {
    color: #f1f1e6;
}

h2 {
    /*margin-top: 19vw;*/
    font-size: 3vw;
}

form {
    /*width: 40%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    font-size: 1vw;
    margin-left: 2vw;
}

td {
    font-size: 1vw;
    padding-right: 20px;
}

.noAcc {
    font-size: 1vw;
    margin-top: 1vw;
    margin-left: 4vw;
    color: #f1f1e6;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 18vw;
    height: 3vw;
    padding: 12px;
    margin: 12px 0;
    font-size: 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}

input[type="submit"] {
    background-color: #ff8749;
    color: #f1f1e6;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 10vw;
    margin-top: 1vw;
    margin-left: 6vw;
}

    input[type="submit"]:hover {
        background-color: #45a049;
    }

footer {
    margin-top: 170px;
    margin-left: 450px;
}
