/* RegistrationStyleSheet.css */

body {
    background-color: #045f5f;
    background-image: url('../Images/registrationBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background-position: center center;*/
    /*height: 100vh;*/
    /*margin: 0;
    flex-direction: column;*/
    color: #045f5f;
    /*font-size: 1.2em;*/
    /*margin-left: 15vw;*/
}

.backgroundDiv {
    background: rgb(132, 173, 165);
    position: relative;
    height: 60vh;
    width: 60vw;
    margin-left: 19vw;
    margin-top: 10vw;
    border-radius: 40px;
}

.registrationDiv {
    /*display: flex;
    flex-direction: column;*/
    /*align-items: center;*/
    position: relative;
    top: 2vw;
    /*left: 50%;
    top: 50%;
    margin-left: -25%;*/
    /*margin-top: -10%;*/
}

.text {
    color: #f1f1e6;
}

h2 {
    /*margin-top: 5vw;*/
    font-size: 2vw;
    color: #ff8749;
    text-align: center;
    padding-bottom: 2vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    font-size: 1vw;
    padding-right: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 18vw;
    height: 3vw;
    padding: 12px;
    margin: 12px 0;
    font-size: 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}

input[type="submit"] {
    background-color: #ff8749;
    color: #f1f1e6;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 10vw;
    margin-left: 2vw;
}

    input[type="submit"]:hover {
        background-color: #45a049;
    }

footer {
    margin-top: 170px;
    margin-left: 450px;
}
