@{
    ViewBag.Title = "LoginPage";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/LoginStyleSheet.css" />
</head>
<body>
    <div class="loginDiv">
        <h2 class="text">Log In</h2>
        @if (@ViewBag.Error == true)
        {
            <p class="error">Email or password is not correct! Please try again.</p>
        }
        <form action="~/Login/Login" method="get">
            <table>
                <tr class="email">
                    <td class="text">Email:</td>
                    <td><input type="text" name="Email" required /></td>
                </tr>
                <tr>
                    <td class="text">Password:</td>
                    <td><input type="password" name="Password" required /></td>
                </tr>
                <tr>
                    <td colspan="2" class="submitLogin">
                        <input type="submit" value="Login" />
                    </td>
                </tr>
            </table>
        </form>
        <p class="noAcc">No account? <a href="~/Registration/RegistrationPage">Register for an account</a></p>
    </div>
</body>
